@import _colors

.mobile
    height: 100vh
    width: 100%
    position: relative
    margin-top: 0
    margin-left: 0
    border-radius: 0

    .logo
        bottom: 2%
        right: 2%
        width: 4%
    
    .background
        width: 130%

    .startFrame
        .swipe
            bottom: 2%
    
    .storyFrame
        .storyBox
            margin-top: -100%
            margin-left: 15%

            .storyContent
                font-size: 3.4vh
        
        .nextStory, .startReading
            left: 15%
        
        .tellStory
            left: 33%

    .share
        right: 15%

    .rotate
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: $deepBlue
        font-size: 4vh
        text-align: center
        width: 90%