@import _colors

*
    padding: 0
    margin: 0
    overflow: hidden
    font-family:'LT'

body
    background: $backgroundColor

.tablet
    height: 90vh
    width: calc(90vh * 1920 / 1080)
    position: relative
    margin-top: 5vh
    margin-left: calc((100% - 90vh * 1920 / 1080) / 2)
    border-radius: 8vh

    .myte
        height: 6vh
        position: absolute
        top: 6vh
        left: 6vh
        cursor: pointer
        z-index: 1000

    .logo
        position: absolute
        bottom: 10%
        right: 10%
        width: 4%

    .snowflake
        height: 10vh
        width: 10vh
        display: inline-block
        position: relative

        img
            position: absolute
            top: 60%
            left: 50%
            transform: translate(-50%, -50%)
            width: 300%

    .face
        width: 102%
        height: 102%
        position: absolute
        top: -1%
        left: -1%
        z-index: 100
        pointer-events: none

    .snow
        width: 100%
        height: 100%
        z-index: 100
    
    .background
        width: 110%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: -1

    @mixin frame()
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        

    .startFrame
        @include frame()
        cursor: pointer

        .storiesLabel
            position: absolute
            top: 10%
            left: 50%
            transform: translateX(-50%)
            width: 80vh
            font-size: 12vh
            text-align: center
            color: $deepBlue
            line-height: 12.4vh
            overflow: visible
            
            .by
                font-size: 3vh
                margin: -6vh

        .swipe
            position: absolute
            bottom: 10%
            left: 50%
            transform: translateX(-50%)
            width: 80vh
            font-size: 5vh
            color: $deepBlue
            text-align: center

        .carrotIndex
            height: 95vh
            position: absolute
            bottom: -6%
            right: -28%
    
    .storyFrame
        @include frame()

        &.animated_first
            .storyBox
                margin-top: 10vh

            .startReading
                top: calc(10vh + 70%)

        &.animated_second
            .storyBox
                margin-top: 10vh

            .startReading
                top: calc(10vh + 70%)
                left: -20%
            
            .nextStory, .tellStory
                top: calc(10vh + 70%)
            
            .share
                top: calc(10.7vh + 70%) !important
        
        .storyBox
            position: absolute
            margin-top: -100%
            margin-left: 13%
            width: 70%
            height: 67%
            background: $deepBlueOpacity
            border-radius: 3vh
            display: flex
            flex-direction: column
            padding: 1.4em
            box-sizing: border-box
            transition: .5s

            &.initial
                text-align: center

                .header
                    margin-top: 10%
                    font-size: 5vh
                    flex: 2

                .storyContent
                    font-size: 3vh

            .header
                flex: 1
                color: white
                width: 100%
                font-size: 4vh

            .storyContent
                flex: 8
                width: 100%
                color: white
                overflow-y: auto
                font-size: 2.3vh
                padding-right: .2em
                box-sizing: border-box
                font-family: 'Roboto', sans-serif
                    
                &::-webkit-scrollbar
                    background: $backgroundColor
                    width: 1em
                    border-radius: .5em
                
                &::-webkit-scrollbar-thumb
                    background: $deepBlueOpacity
                    border-radius: .5em
                    border: 1px solid $backgroundColor

                &::-moz-scrollbar
                    background: $backgroundColor
                    width: 1em
                    border-radius: .5em
                
                &::-moz-scrollbar-thumb
                    background: $deepBlueOpacity
                    border-radius: .5em
                    border: 1px solid $backgroundColor
        
        .nextStory
            position: absolute
            top: calc(10vh + 100%)
            left: 13%
            width: 16%
            cursor: pointer
            transition: .5s

        .startReading
            position: absolute
            top: calc(10vh + 100%)
            left: 13%
            width: 18%
            cursor: pointer
            transition: .5s
        
        .tellStory
            position: absolute
            top: calc(10vh + 100%)
            left: 31%
            width: 22%
            cursor: pointer
            transition: .5s
        
        .carrot
            height: 70%
            position: absolute
            left: 60%
            top: 10%
            transition: .5s

            &.hidden
                left: 100%

    .finishFrame
        @include frame()

        &.animated
            .wish
                top: 10%
            
            .snowman
                bottom: 10%
            
            .refresh
                bottom: 9vh
            
            .share
                left: 50%
                transform: translateX(-50%)
                top: calc(10.7vh + 70%)
        
        .wish
            position: absolute
            top: -100%
            right: 10%
            font-size: 10vh
            text-align: center
            color: $green
            line-height: 11vh
            transition: .5s

            .snowflake
                height: 8vh
                width: 8vh

        .refresh
            position: absolute
            bottom: 0
            left: 7vh
            height: 6vh
            cursor: pointer
            transition: .5s
        
        .snowman
            position: absolute
            bottom: -100%
            height: 70%
            left: 4%
            transition: .5s

    .share
        position: absolute
        top: calc(10.7vh + 100%)
        right: 17%
        height: 5%
        width: max-content
        display: flex
        flex-direction: row
        transition: .5s

        .icon
            height: 100%
            cursor: pointer
            margin-left: .4em
        
        span
            color: $deepBlue

            &.small
                font-size: 2vh
            
            &.big
                font-size: 3vh
                margin-top: 1.5%

@import _mobileDirectives
                